# Ignore the cache
*__pycache__/

.DS_Store

# Ignore cluster configuration
conf/

# Ignore Jupyter Notebook files
*.ipynb

# Ignore the weights of Neural Network Graph
*.weights

# Hide the cluster machine settings for security purpose
params.py

# tmp file just used for temporary storage
tmp/

# Line counter
line-count.txt
