# Cluster Interface
KAFKA_CLUSTER_DNS = ""
KAFKA_CLUSTER_HOSTNAME = ""
KAFKA_PORT = '9092'   # Default port for Kafka
KAFKA_BROKER = KAFKA_CLUSTER_HOSTNAME + ":" + KAFKA_PORT


DB_CLUSTER_DNS = ""
DB_CLUSTER_HOSTNAME = ""
CASSANDRA_PORT = '9042'   # Default port for Cassandra

SPARK_CLUSTER_DNS = ""
SPARK_CLUSTER_HOSTNAME = ""

# Default setting for database
DB_KEYSPACE = ''

# API for Object detection
OBJ_API_URL = ''
